*{
    box-sizing: border-box;     
    margin: 0;
    padding: 0;
}
p{
    font-weight: 700;
    padding: 50px;
}

.arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
    margin-left: 10px;
  padding: 5px;
}
.down {
    transform: rotate(45deg);
}
body{
    background-image: url(demo.gif);
    background-repeat:no-repeat;
    background-origin: border-box;
    background-blend-mode:soft-light;
    background-attachment:fixed;
    background-size:cover;
    color:white;
    background-color: #24252A;
    transition: all 0.5s;
}
p{
    font-size:28px;
    font-family: 'Roboto Slab',sans-serif;
    font-weight: 200;
}
h1{
    margin-top:50px;
    margin-bottom: 50px;
    font-size:48px;
    font-family:'Raleway', sans-serif;
}
#div1h1{
    float: left;
    background-color: rgba(23,23,23,0.3) ;
    transition: all 0.25s;
}

li,a,button {
    font-family: "Montserrat",sans-serif;
    text-decoration: none;
    color:white;
}

header{
    font-family: "Montserrat",sans-serif;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 30px 10%;
}

.nav_links, ul{
    float:left;
    list-style:none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color:#0088a9;
}

.button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.dropdown{
    display: inline-block;
}

.dropdown-content{
    transition: all 0.3s;
}

.dropbtn{
    padding: 0px 20px;
    font-size: 16px;
    border: none;
    text-decoration: none;
    background-color: transparent;
}
.dropbtn a{
    transition: all 0.3s ease 0s;
}
.dropbtn a:hover{
    color:#0088a9; 
}
.dropdown:hover .dropdown-content{
    visibility: visible;
    opacity:1;
    transform: translateY(0%);
    transition-delay: 0,0,0.2s;
}


.dropdown-content{
    padding: 20px;
    opacity: 0;
    transform: translateY(-2em);
    background-color: rgba(23,23,23,0.4);
    z-index: 1;
    position:absolute;
    visibility: hidden;
    transition: all 0.2s;
}
.dropdown-content li{
    display: block;
    padding: 10px 0px;
}

.button:hover{
    background-color: rgba(0,136,169,0.8);
}
.button:hover #arrow1{
    background-color: rgba(0,136,169,0.8);
}

#main{
    font-family: "Raleway",sans-serif;
    margin-top: collapse;
    background-color: transparent;
    transition-delay: 1s; 
    transition: all 0.3s;
}
